<form [formGroup]="transferenciaForm" (ngSubmit)="agendar()" class="form">
  <div class="form-group">
    <label for="contaOrigem">Conta de Origem:</label>
    <input id="contaOrigem" formControlName="contaOrigem" class="form-control">
    <div *ngIf="transferenciaForm.get('contaOrigem')?.invalid && transferenciaForm.get('contaOrigem')?.touched" class="error-message">
      Conta de origem é obrigatória.
    </div>
  </div>

  <div class="form-group">
    <label for="contaDestino">Conta de Destino:</label>
    <input id="contaDestino" formControlName="contaDestino" class="form-control">
    <div *ngIf="transferenciaForm.get('contaDestino')?.invalid && transferenciaForm.get('contaDestino')?.touched" class="error-message">
      Conta de destino é obrigatória.
    </div>
  </div>

  <div class="form-group">
    <label for="valor">Valor:</label>
    <input id="valor" type="number" formControlName="valor" class="form-control">
    <div *ngIf="transferenciaForm.get('valor')?.invalid && transferenciaForm.get('valor')?.touched" class="error-message">
      Valor é obrigatório e deve ser positivo.
    </div>
  </div>

  <div class="form-group">
    <label for="taxa">Taxa:</label>
    <input id="taxa" type="number" formControlName="taxa" class="form-control">
    <div *ngIf="transferenciaForm.get('taxa')?.invalid && transferenciaForm.get('taxa')?.touched" class="error-message">
      Taxa é obrigatória e deve ser positiva.
    </div>
  </div>

  <div class="form-group">
    <label for="dataTransferencia">Data da Transferência:</label>
    <input id="dataTransferencia" type="date" formControlName="dataTransferencia" class="form-control">
    <div *ngIf="transferenciaForm.get('dataTransferencia')?.invalid && transferenciaForm.get('dataTransferencia')?.touched" class="error-message">
      Data da transferência é obrigatória.
    </div>
  </div>

  <button type="submit" [disabled]="transferenciaForm.invalid" class="btn-submit">Agendar Transferência</button>
</form>
